*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
--btnWidth:60px;
--btnHeight:60px;
--container-width:600px;
--container-heigth:440px;
}
.visibility{
    visibility: hidden;
}
main{
    display: flex;
    height: 94vh;
    background-color: rgba(209, 128, 57, 0.497);
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: var(--container-width);
    margin: 20px auto;
    align-items: center;

}
#show-history{
    text-align: end;
    width: 35px;
    height: 31px;
    align-self: flex-end;
    padding: 0px;
    cursor: pointer;
    margin-top: 2px;
    margin-right: 9px;
}
#show-history  div{
    border: 2px solid black;
    margin: 4px 0px;
    border-radius: 10px;
    background-color: black;
}
#calculator{
    display: flex;
    flex-direction: column;
    height: var(--container-heigth);
    width: calc(var(--container-width)/2);
    background-color: #7c7c71;
    border-radius: 15px;
}
.calc-history{
    background-color: inherit;
    width: calc(var(--container-width)/2);
    height: var(--container-heigth);
    z-index: 100;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* overflow-y: scroll; */
    position: relative;
}
.calc-history > p{
    font-size: 20px;
}
.row-history{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    font-size: 18px;
    padding: 0px 5px;
}
.copy-btn{
    text-align: end;
    width: 35px;
    height: 18px;
    align-self: flex-end;
    padding: 0px;
    cursor: pointer;
    align-items: center;
    align-self: center;
}
.copy-btn  span{
    border: 2px solid black;
    margin: 2px 0px;
    border-radius: 10px;
    background-color: black;
    display: block;
}
#close-history{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    cursor: pointer;
}
abbr{
    text-decoration: none;
}
#screen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    max-width: 250px;
    background-color: rgb(209, 209, 209);
    margin: 5px auto;
    border-radius: 15px;
    margin: 5px auto 3px auto;
    height: 70px;
}
#first-screen{
    position: absolute;
    top: 35px;
    right: 6px;
    font-size: 22px;

}
#last-screen{
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 16px;
}

#number-bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
}
.btn{
    width: var(--btnWidth);
    height: var(--btnHeight);
    margin: 2px;
    border: 1px solid;
    cursor: pointer;
}
.btn:active{
    background-color: gray;
    color: white;
}
button{
    border-radius: 35%;
    font-size: 20px;
}
#equal{
    width: calc(var(--btnHeight)*2);
    border-radius: 25px;
    background-color: rgb(99, 97, 249);
    color: white;
    font-size: 35px;
}
#equal:active{
    background-color: rgb(36, 225, 36);
}
.pink{
    background-color: pink;
    color: red;
}
/* *************** styling the footer ******************* */
footer{
    display: flex;
    font-size: 20px;
    background-color: #524f4f;
    color: #ffff;
    height: 6vh;
    justify-content: center;
    align-items: center;
}
footer >a{
    text-decoration: none;
    background-color: #524f4f;
}
#github-logo{
    background-color: white;
    transition: transform 0.3s;
}
#github-logo:hover{
    transform: rotate(360deg);
    
}