*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
--btnWidth:60px;
--btnHeight:60px;
}
main{
    display: flex;
    height: 94vh;
    background-color: rgba(209, 128, 57, 0.497);
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 546px;
    margin: 20px auto;
    align-items: center;
    background-color: #7c7c71;
    border-radius: 15px;

}
#show-history{
    text-align: end;
}
#calculator{
    display: flex;
    flex-direction: column;
}
.calc-history{
    background-color: white;
    width: 286px;
    height: 393px;
    z-index: 100;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 2px dotted black;
    /* overflow-y: scroll; */
    position: relative;
}
#close-history{
    width: 30px;
    height: 30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
abbr{
    text-decoration: none;
}
#screen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    max-width: 241px;
    background-color: rgb(209, 209, 209);
    margin: 5px auto;
    border-radius: 15px;
    margin: 12px auto 3px auto;
    height: 60px;
}
#first-screen{
    position: absolute;
    top: 25px;
    right: 6px;
    font-size: 22px;

}
#last-screen{
    position: absolute;
    top: 5px;
    right: 6px;
    font-size: 16px;
}

#number-bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 260px;
}
.btn{
    width: var(--btnWidth);
    height: var(--btnHeight);
}
button{
    border-radius: 35%;
    font-size: 20px;
}
#equal{
    width: calc(var(--btnHeight)*2);
    border-radius: 25px;
    background-color: rgb(99, 97, 249);
    color: white;
}
.pink{
    background-color: pink;
    color: red;
}
/* *************** styling the footer ******************* */
footer{
    display: flex;
    font-size: 20px;
    background-color: #524f4f;
    color: #ffff;
    height: 6vh;
    justify-content: center;
    align-items: center;
}
footer >a{
    text-decoration: none;
    background-color: #524f4f;
}
#github-logo{
    background-color: white;
    transition: transform 0.3s;
}
#github-logo:hover{
    transform: rotate(360deg);
    
}